TWITCH_CHANNEL=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_PLAYLIST_ID=
TWITCH_TOKEN=
BOT_USERNAME=
CHAT_FEEDBACK=false
ADD_TO_QUEUE=true
ADD_TO_PLAYLIST=true
SUBSCRIBERS_ONLY=true
COMMAND_QUEUE__PREFIX=!sr
COMMAND_GET_QUEUE__PREFIX=!q
COMMAND_GET_QUEUE__PREFER_WHISPER=false
COMMAND_GET_QUEUE__REFRESH__COOLDOWN_MS=5000
COMMAND_CURRENT_SONG__PREFIX=!song
COMMAND_SKIP_TO_NEXT__PREFIX=!skip
COMMAND_SKIP_TO_NEXT__ALLOWED_USERS
COMMAND_SET_VOLUME__PREFIX=!volume
COMMAND_SET_VOLUME__ALLOWED_USERS=
AUTH_SERVER_PORT=8000
HOST=http://localhost
